<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link href="style.css" rel="stylesheet" />
    <title>Auditor Appointment</title>
  </head>
  <body>
    <div id="app">
      <form>
        <fieldset>
          <label for="value1">Value 1: {{value1}}</label>
          <input id="value1" v-model="value1" type="text" />
        </fieldset>
        <fieldset>
          <label for="value2">Value 2: {{value2}}</label>
          <input id="value2" v-model="value2" type="text" />
        </fieldset>
      </form>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="adtrapp.js"></script>
  </body>
</html>
