<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <title>Auditor Appointment</title>
  </head>
  <body>
    <div id="app" style="background: white;">
      <h1>Auditor Appointment</h1>
      <form>
        <h3>Audit Team</h3>
        <div>
          <fieldset>
            <h4>Islamic Expert</h4>
            <label>Nome</label>
            <select v-model="islamicExpertNome">
              <option>Mansur Giuseppe Baudo</option>
              <option>Aisha Valeria Lazzerini</option>
              <option>Halima Erika Rubbo</option>
              <option>Nabil Haman</option>
            </select>

            <label>Ente</label>
            <input type="text" disabled v-model="islamicExpertEnte" />

            <label>Funzione</label>
            <select v-model="islamicExpertFunzione">
              <option>Audit team leader</option>
              <option>Auditor stage 1</option>
              <option>Auditor stage 2</option>
            </select>
          </fieldset>

          <fieldset>
            <h4>Tehnical Expert</h4>
            <label>Nome</label>
            <select v-model="technicalExpertNome">
              <option>Rim Souda</option>
              <option>Bechir Bakey</option>
              <option>Alberto Dal Molin</option>
              <option>Matheus Monaco</option>
            </select>

            <label>Ente</label>
            <input type="text" disabled v-model="technicalExpertEnte" />

            <label>Funzione</label>
            <select v-model="technicalExpertFunzione">
              <option>Audit team leader</option>
              <option>Auditor stage 1</option>
              <option>Auditor stage 2</option>
            </select>
          </fieldset>

          <fieldset>
            <h4>Tehnical Auditor</h4>
            <label>Nome</label>
            <select v-model="technicalAuditorNome">
              <option>Hatice Gurses</option>
              <option>Nabil Haman</option>
            </select>

            <label>Ente</label>
            <input type="text" disabled v-model="technicalAuditorEnte" />

            <label>Funzione</label>
            <select v-model="technicalAuditorFunzione">
              <option>Audit team leader</option>
              <option>Auditor stage 1</option>
              <option>Auditor stage 2</option>
            </select>
          </fieldset>
        </div>

        <h3>Cliente</h3>
        <div>
          <fieldset>
            <label>Company</label>
            <input type="text" />
          </fieldset>
        </div>
      </form>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="adtrapp.js"></script>
  </body>
</html>
