* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow-y: auto;
  font-family: sans-serif;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: indigo;
  scroll-snap-align: start;
}

section:nth-child(odd) {
  background: indianred;
}
